.android-drawer .android-logo-image {
      position: absolute;
      bottom: 16px;
}

.android-logo-image {
  height: 28px;
  width: 140px;
}
/*NEEDED  */
.demo-card-wide.mdl-card {
    width: 512px;
}

.demo-card-wide>.mdl-card__title {
    color: #fff;
    height: 176px;
    background-color: #d83636;
}

.demo-card-wide>.mdl-card__menu {
    color: #fff;
}

#notice-card, #logout-card{
    display: none;
}
/* OAS SYSTEM  */
#private-space {
    display: none;
}

.mdl-card__supporting-text {
  overflow: auto;
}

#my-badge-table .mdl-checkbox {
    width: 0%;
}

.mdl-data-table td {
    text-align: center;
}

#welcome-card {
    display: none;
}

#add-member-form {
     display: none; 
}

button#beavers-tab {
    background: #400000;
    
}

button#scouts-tab {
    background: #008040;
}

button#cubs-tab {
    background: #ffa603;
}

