<!--Main Page Footer Section -->
<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">
            More Information
        </div>
        <ul class="mdl-mini-footer__link-list">
            <li><a href="https://firebase.google.com/docs/auth/">Firebase Authentication</a></li>
            <li><a href="https://firebase.google.com/docs/reference/js/index-all">Firebase Web Reference Index</a></li>
        </ul>
    </div>
</footer>


<div id="toast" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>

