<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <a class="mdl-layout-title" href="/">
                    <img class="android-logo-image" src="images/android-logo-white.png">
                </a>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">

      <a class="mdl-navigation__link" href="/login" id="sign-in-button">
          <i class="material-icons">account_circle</i> <span id="account">Sign In</span>
      </a>
      <a class="mdl-navigation__link" href="javascript:void(0)" id="account-menu-button">
      </a>
      <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
            <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
        <li class="mdl-menu__item">5.0 Lollipop</li>
        <li class="mdl-menu__item">4.4 KitKat</li>
        <li disabled class="mdl-menu__item">4.3 Jelly Bean</li>
        <li class="mdl-menu__item">Android History</li>
      </ul>
    </nav>

  </div>
</header>



<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">
                <img class="android-logo-image" src="images/android-logo.png">
            </span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="">About</a>
    <span class="mdl-navigation__link" href="">Versions 1.0</span>
  </nav>
</div>