<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">
                    <img class="android-logo-image" src="images/android-logo.png">
                </span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a class="mdl-navigation__link" href="" id="sign-in-button">
                      <i class="material-icons">account_circle</i> 
                        <span id="account">Sign In</span>
                    </a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
                        <i class="material-icons">more_vert</i>
                    </button>
      <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
        <li class="mdl-menu__item">5.0 Lollipop</li>
        <li class="mdl-menu__item">4.4 KitKat</li>
        <li disabled class="mdl-menu__item">4.3 Jelly Bean</li>
        <li class="mdl-menu__item">Android History</li>
      </ul>
    </nav>

  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">
                <img class="android-logo-image" src="images/android-logo-white.png">
            </span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="">About</a>
    <span class="mdl-navigation__link" href="">Versions</span>
    <a class="mdl-navigation__link" href="">Lollipop 5.0</a>
    <a class="mdl-navigation__link" href="">KitKat 4.4</a>
    <a class="mdl-navigation__link" href="">Jelly Bean 4.3</a>
    <a class="mdl-navigation__link" href="">Android history</a>
  </nav>
</div>